<div class="space-blank cuarenta"></div>
<section class="row">
	<div class="text-center">
		<i class="yei icon-caraTriste texto-limon x7"></i>
		<h3 class="texto-verdemarino text-center">Tu solicitud ha sido rechazada.</h3>
		<div class="space-blank"></div>
		<!--p>Inicia un chat con uno de nuestros asesores en línea</p>
            <button class="button">Iniciar chat</button-->
		<div class="space-blank veinte"></div>
		<p>También puedes llamarnos al {{yeiInfo.phoneHelp}} ó escribir a <a href="mailto:{{yeiInfo.emailHelp}}">{{yeiInfo.emailHelp}}</a></p>
		<div class="space-blank veinte"></div>
	</div>
</section>