<section class="small-12 medium-9 large-9 columns">
    <div class="tabContrasena">
        <div class="small-12 medium-12 large-10 large-centered">
            <div class="column">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header active"><i class="yei icon-chevronDown"></i>
                            <p>¿Quieres cambiar tu contraseña ORION?</p>
                            <span>Tu contraseña ORION FINTECH es la que te sirve para ingresar al portal</span>
                        </div>
                        <div class="collapsible-body">
                         <div class="separador-orion small-12 small-centered"></div>
                         <div class="space-blank veinte"></div>
                         <div class="small-10 medium-8 large-6 small-centered medium-centered columns">
                            <form name="autorizacionForm" ng-submit="continuarAutorizacion( password,credentials)" method="post">
                                <div class="input-field con-mensaje">
                                    <input id="password" name="password" maxlength="30" type="password" ng-model="password" ng-change="mensajePassword()" required>
                                    <label for="password">Contraseña Actual</label>
                                    <div class="mensaje" ng-show="invalido">
                                        {{mensaje}}
                                    </div>
                                </div>

                                <div class="input-field contrasena">
                                 <input ng-class="{'invalid':autorizacionForm.password.$invalid && autorizacionForm.password.$dirty && visitedPassword}" type="{{inputType}}" id="passwordNewYei" name="password" minlength="8" maxlength="30" autocomplete="off" ng-model="credentials.newPassword" required ng-pattern="passwordFormat" ng-blur="visitedPassword = true" ng-change="mensajePassword()"/> 
                                 <label for="passwordNewYei">Nueva contraseña*</label>
                                 <span data-tooltip aria-haspopup="true" class="has-tip right posfix" data-disable-hover="false" tabindex="3" title="Esta será tu contraseña Yei!"><i ng-show="typePassword" class="fa fa-eye" ng-click="hideShowPassword()"></i><i ng-show="typeText" class="fa fa-eye-slash" ng-click="hideShowPassword()"></i></span>

                                  <div class="mensaje" ng-show="autorizacionForm.password.$touched == true && autorizacionForm.password.$valid === false"> Entre 8 y 30 caracteres, 1 mayúscula, 1 minúscula y 1 número
                                  </div>

                            </div>
                            <div class="space-blank veinte"></div>
                            <div class="text-center">
                                <button class="button" type="submit" ng-disabled="dataloading || autorizacionForm.$invalid">Actualizar <i ng-show="dataloading" class="fa fa-spinner fa-pulse fa-fw"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="clear"></div>                    
                    </li>
                    <li>
                     <div class="collapsible-header"><i class="yei icon-chevronDown"></i>
                        <p>¿Quieres cambiar tu contraseña <span class="texto-italic texto-bold">llave</span>?</p>
                        <span>Tu contraseña <span class="texto-italic texto-bold">llave</span> es la que te sirve para abrir los estados de cuenta que te enviamos por correo electrónico.</span>
                        </div>
                   <div class="collapsible-body">
                       <div class="separador-orion small-12 small-centered"></div>
                       <div class="space-blank veinte"></div>
                       <div class="small-10 medium-8 large-6 small-centered medium-centered columns">
                            <form name="autorizacionFormLlave" ng-submit="continuarAutorizacionLlave( passwordLlave,credentialsLlave)" method="post">
                                <div class="input-field con-mensaje">
                                    <input id="passwordLlave" name="passwordLlave" maxlength="30" type="password" ng-model="passwordLlave" ng-change="mensajePassword()" required>
                                    <label for="passwordLlave">Ingresa contraseña ORION FINTECH</label>
                                    <div class="mensaje" ng-show="invalidoLlave">
                                    {{mensaje}}
                                    </div>
                                </div>
                                <div class="input-field">
                                   <input ng-class="{'invalid':autorizacionFormLlave.passwordLlave.$invalid && autorizacionFormLlave.passwordLlave.$dirty && visitedPassword}" type="{{inputType}}" id="passwordLlave" name="passwordLlave" minlength="8" maxlength="30" autocomplete="off" ng-model="credentialsLlave.newPassword" required ng-pattern="passwordFormat" ng-blur="visitedPassword = true" ng-change="mensajePassword()"/> 

                         <label for="passwordLlave">Nueva contraseña Llave*</label>
                         <span data-tooltip aria-haspopup="true" class="has-tip right posfix" data-disable-hover="false" tabindex="3" title="Esta será tu contraseña Llave!"><i ng-show="typePassword" class="fa fa-eye" ng-click="hideShowPassword()"></i><i ng-show="typeText" class="fa fa-eye-slash" ng-click="hideShowPassword()"></i></span>

                     <div class="mensaje" ng-show="autorizacionFormLlave.passwordLlave.$touched == true && autorizacionFormLlave.passwordLlave.$valid === false"> Entre 8 y 30 caracteres, 1 mayúscula, 1 minúscula y 1 número
                    </div>

                    </div>
                    <div class="space-blank veinte"></div>
                    <div class="text-center">
                        <button class="button" type="submit" ng-disabled="dataloading || autorizacionFormLlave.$invalid">Actualizar <i ng-show="dataloading" class="fa fa-spinner fa-pulse fa-fw"></i></button>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
            <div class="text-center" ng-show="passwordActualizado">
                <span class="yei icon-check x6 texto-limon"></span>
                <h4 class="texto-turquesa">Contraseña Llave Actualizada</h4>
            </div>
        </div>
    </li>
</ul>
</div>
<div class="clear"></div>
</div>
</div>
</section>