
<section class="row">
<div class="space-blank veinticinco"></div>
	<div class="large-12 column center">
		<h3 class="texto-turquesa text-center">Bienvenido a <img class="logo-mediano" src="assets/img/logoOrion.png"></h3>
		<p ng-hide="loginPaso2">
			Para iniciar sesión introduce tu usuario ORION FINTECH.
		</p>
		<p ng-show="loginPaso2">
			{{nombreUsuario | uppercase}} Introduce tu contraseña ORION FINTECH.
		</p>
	</div>
<div class="space-blank"></div>

	
  <div class="small-10 large-6 small-centered columns">
<div class="callout alert animated pulse" ng-show="invalido">
		<div class="alert text-center">
			{{mensaje}}
		</div>
	</div>	
  </div>

<div class="space-blank"></div>
	<div class="large-12 column center">
			<div class="contenedorPasos small-11 medium-4 large-5 small-centered">
				<div ng-hide="loginPaso2" class="pasoUno">
					<form name="loginForm" ng-submit="login( credentials )" method="post" autocomplete="off" novalidate>
					<div class="input-field inputYei">					
						<input id="usuario" name="usuario" type="text" ng-model="credentials.username" maxlength="80" ng-pattern="emailFormat" required>
						<label for="usuario">Usuario*</label>
						<span class="mensaje" ng-show="loginForm.usuario.$touched == true && loginForm.usuario.$valid === false">Usuario no valido</span>
						<span class="posfix"><img src="assets/img/orionTexto.png"></span>		
					</div>
					<div class="space-blank"></div>
					<div>
						<button class="button" type="submit" ng-disabled="loginForm.$invalid || dataloading" >Siguiente <i ng-show="dataloading" class="fa fa-spinner fa-pulse fa-fw"></i></button>	
					</div>
					<p class="center"><a ui-sref="password.forgot.main">Olvidé mi contraseña</a></p>
					</form>	
				</div>
				<div ng-show="loginPaso2" class="pasoDos">
					<form name="loginForm2" ng-submit="login2( credentials2 )" method="post" autocomplete="off" novalidate>
					<div class="input-field inputYei">
						<input id="password" name="password" type="password" ng-model="credentials2.password" required maxlength="30">
						<label for="password">Contraseña*</label>
						<span class="posfix"><img src="assets/img/orionTexto.png"></span>
					</div>
					<div class="space-blank"></div>
					<div>
						<a class="button hollow show-for-large" ng-click="regresar()" ng-disabled="dataloading">Regresar</a>
						<button class="button" type="submit" ng-disabled="loginForm2.$invalid || dataloading">Iniciar sesión <i ng-show="dataloading" class="fa fa-spinner fa-pulse fa-fw"></i></button>
						<a class="button hollow hide-for-large" ng-click="regresar()" ng-disabled="dataloading">Regresar</a>	
					</div>
					<div class="clear"></div>
					<p class="center"><a ui-sref="password.forgot.main">Olvidé mi contraseña</a></p>		
					</form>	
				</div>

				<div class="space-blank"></div>
						
			</div>	
	</div>	
</section>