<section class="row">
<div class="space-blank veinticinco"></div>
	<div class="large-12 column medium-centered center">
	<div class="animated delay1 bounceInDown">
		<i class="yei icon-candado texto-limon x7"></i>
	</div>
	<div class="space-blank"></div>	
		<h3 class="texto-verdemarino text-center">¿Olvidaste tu contraseña?</h3>
		<div class="space-blank"></div>	
		<h5 class="texto-normal">
			¡No te preocupes!
		</h5>
		<p>Ingresa un correo electrónico asociado a tu cuenta y recibirás las instrucciones.
		</p>
	</div>
	<div class="space-blank"></div>

  <div class="small-10 large-6 small-centered columns">
	<div class="callout alert animated pulse" ng-show="invalido">
		<div class="alert text-center">
			{{mensaje}}
		</div>
	</div>	
  </div>
  <div class="space-blank"></div>
	<div class="large-12 column medium-centered  center">
		<form name="forgotPasswordForm" ng-submit="askForPasswordReset( credentials )" method="post" novalidate autocomplete="off">		
			<div class="large-3 medium-centered">
				<div class="input-field">
					<input id="email" name="email" type="email" class="validate" ng-model="credentials.username" ng-class="{'invalid':forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$dirty && visitedEmail}" ng-pattern="emailFormat" ng-pattern-restrict="^[a-zA-Z0-9.-_-]*$"  maxlength="80" required/>
          			<label for="email">Correo electrónico*</label>
          			<span class="mensaje" ng-show="forgotPasswordForm.email.$touched == true && forgotPasswordForm.email.$valid === false">email no valido</span>					
				</div>
				<div class="space-blank"></div>
				<div>
					<button type="submit" class="button" ng-disabled="forgotPasswordForm.$invalid || dataloading">Enviar  <i ng-show="dataloading" class="fa fa-spinner fa-pulse fa-fw"></i></button>				
				</div>	
				<div class="space-blank"></div>	
				<ul class="lista-olvido-pass">
					<li>Recuerda que el correo electrónico debe ser el mismo con el que te registraste.</li>
					<li>Por favor ten a la mano tu celular ya que lo requerirás para este proceso.</li>
				</ul>	
			</div>
		</form>

	</div>	
</section>