<section class="row text-center">
	<div class="space-blank treinta"></div>
	<div class="animated delay1 fadeInUp">
		<i class="yei icon-mensaje texto-limon x7"></i>
	</div>

	<div class="small-10 large-6 small-centered columns" ng-show="invalidEnviarSms">
		<div class="callout alert animated pulse">
			<div class="alert">
				{{mensaje}}
			</div>
		</div>
		<a ui-sref="password.forgot.main">Reintentar...</a>
		<div class="space-blank"></div>

	</div>
	<div ng-hide="invalidEnviarSms">
		<div class="large-12 column center">
			<h3 class="texto-verdemarino text-center">
				Revisa tu celular
			</h3>
		</div>
		<div class="space-blank"></div>

		<div class="small-10 large-6 small-centered columns">
			<div class="callout primary">
				<p>Te hemos enviado por mensaje SMS un código para cambiar tu contraseña, ingrésalo abajo.
				</p>
				<strong>{{digitosTelefono}}</strong>
			</div>
		</div>

		<div class="small-10 large-6 small-centered columns">
			<div class="callout alert animated pulse" ng-show="invalido">
				<div class="alert">
					{{mensaje}}
				</div>
			</div>
		</div>

		<div class="space-blank"></div>
		<form name="codigoForm" ng-submit="passwordCodigoReset(credentials)" method="post" novalidate autocomplete="off">

			<div class="large-4 input-field medium-centered">
				<input id="codigo" class="text-center x2" type="text" ng-model="credentials.codigoSms" required
					ng-disabled="dataloading" maxlength="10" style="text-transform:uppercase"
					ng-pattern-restrict="^[a-zA-ZñÑáéíóúÁÉÍÓÚ\s0-9.-]*$">
				<label for="codigo">Código*</label>
			</div>
			<div class="space-blank"></div>
			<div class="row">
				<div class="large-6 small-12 columns medium-centered">
					<button type="submit" class="button" ng-disabled="codigoForm.$invalid || dataloading">Cambiar Contraseña
						<i ng-show="dataloading" class="fa fa-spinner fa-pulse fa-fw"></i></button>
				</div>
			</div>
		</form>
	</div>
</section>