<div class="dialogCuerpo">
    <div class="small-10 medium-8 large-8 small-centered">
        <p>Faltan documentos por adjuntar, ¿aun asi quieres continuar?</p>
    </div>
</div>
<div class="margin-top-bottom separador-orion"></div>
<div class="dialogFooter small-12 medium-10 large-9 small-centered">
	<button class="button hollow turquesa float-left" ng-click="closeThisDialog(0)">Terminar</button>
	<button class="button float-right" ng-click="confirm(1)">Confirmar</button>
	<div class="clear"></div>
</div>