<div class="dialogCuerpo sinAspa">
    <i class="yei icon-aprobacion texto-limon"></i>
    <div class="text-center tituloImagen">
        <p class="text-center">
            <img src="assets/img/logoOrion.png"> Tu préstamo ha sido aprobado
        </p>
    </div>
    <label class="texto-normal text-center">Revisa tu mail, donde enviaremos todo el detalle de tu préstamo y pasos a seguir.</label>
    <div class="space-blank diez"></div>

</div>
<div class="margin-bottom separador-orion"></div>
<div class="dialogFooter text-center">
    <button class="button" ng-click="finalizar()">Finalizar</button>
</div>