<div class="row">
    <div class="small-12 medium-12 large-centered medium-centered column">
        <p class="text-center">ORION FINTECH, S.A. DE C.V., SOFOM, E.N.R.</p>
        <div class="space-blank"></div>

        <p class="text-center">
            <b>
                AVISO DE PRIVACIDAD CORTO
            </b>
        </p>
        <div class="space-blank"></div>

        <p class="text-justify">
            Con el objeto de poder atender sus necesidades y brindarle un mejor servicio, para
            ORION, S.A. DE C.V., SOFOM, E.N.R., en lo sucesivo ORION, quien maneja el nombre
            comercial “ORION FINTECH”, le resulta necesario recopilar determinada información personal y será el
            responsable de recabar sus datos personales, del uso que se le dé a los mismos y de su
            protección. ORION tiene su domicilio en Avenida Coyoacán número 1622, Edificio 4, Piso
            2, Colonia Del Valle, Alcaldía Benito Juárez, en la Ciudad de México, C.P. 03100. Su
            información personal será utilizada para proveer nuestros servicios y productos que ha
            solicitado de carácter financiero relativos al contrato de crédito individual, informarle sobre
            cambios o nuevos productos o servicios que estén relacionados con el contratado por el
            acreditado a través de medios electrónicos, impresos, sonoros, visuales y puntos de
            venta; dar cumplimiento a obligaciones contraídas con nuestros clientes y a las
            autoridades competentes en términos de la legislación financiera aplicable; brindarle
            asesoría y orientación en la realización de su adquisición de servicios; evaluar la calidad
            del servicio que le brindamos y para fines estadísticos, llevar un historial de operaciones,
            entre otros. Siendo todas estas finalidades necesarias para la relación jurídica que
            mantendrá con ORION. Adicionalmente, su información personal podrá ser utilizada para
            ofrecerle y promover toda clase de productos o servicios de manera directa o a través de
            medios electrónicos, impresos, sonoros, visuales, puntos de venta y por vía telefónica
            (telemarketing); ofrecerle ofertas y promociones únicamente de nuestros servicios,
            realizar encuestas con fines comerciales y mercadológicos, de investigación de mercado;
            hasta en tanto no manifieste su oposición para ello. ORION no compartirá su información
            con terceros para fines comerciales o de otra índole salvo la especificada en el párrafo
            anterior. No siendo estas finalidades necesarias para la relación jurídica que mantendrá
            con ORION. Por lo que en caso de que desee en cualquier momento expresar su
            negativa al tratamiento de datos personales para las finalidades no necesarias señaladas
            en este párrafo, Usted podrá marcar la casilla correspondiente en el apartado “Manifiesto
            expresamente mi conformidad en recibir información publicitaria y de mercadotecnia en
            general: ___ SI ___ NO”, en el Aviso de Privacidad que haya sido puesto a su disposición
            en nuestro portal de internet al momento de llenar su solicitud de crédito; o bien,
            manifestarnos expresamente su oposición siguiendo el mecanismo para el ejercicio de
            sus derechos ARCO que se describe en nuestro Aviso de Privacidad Integral.
        </p>

        <p class="text-justify">
            Para mayor información acerca del tratamiento y de los derechos que puede hacer valer,
            Usted puede acceder a nuestro aviso de privacidad integral a través de nuestra página de
            Internet (sección aviso de privacidad), <a href="{{yeiInfo.url}}"
            target="blank">{{yeiInfo.url}}</a>; así como al teléfono <a href="tel:{{yeiInfo.phone}}">{{yeiInfo.phone}}</a>, o
            bien presentar un escrito en nuestras oficinas, o enviar correo electrónico a
            <a href="mailto:{{yeiInfo.emailPrivacidad}}">{{yeiInfo.emailPrivacidad}}</a>.
        </p>

        <p class="text-justify">Fecha última actualización 10/Julio/2019</p>
        <div class="margin-bottom separador-orion"></div>
        <div class="dialogFooter small-12 medium-10 large-9 small-centered">
            <button class="button float-right" ng-click="continuar()" ng-disabled="dataloading">Aceptar</button>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="space-blank veinte"></div>