<div class="space-blank cuarenta"></div>
<div class="row">
    <div class="small-11 medium-8 small-centered medium-centered column">
        <h1 class="texto-anaranjado-dark">Acerca de <span class="hide">ORION FINTECH</span><img class="logo-mediano" src="assets/img/logoOrion.png"></h1>
        <h2><small class="texto-verdemarino">Quienes somos</small></h2>
        <p>Somos una empresa 100% mexicana, que utiliza la tecnología para ofrecer una solución financiera rápida y completamente en línea ¡no tenemos sucursales! De esta manera disminuimos los costos de operación y podemos ofrecerte un préstamo sin cobros ni comisiones adicionales.</p>
        <br />
        <h2><small class="texto-verdemarino">Misión</small></h2>
        <p>Brindar préstamos rápidos y seguros.</p>
        <br />
        <h2><small class="texto-verdemarino">Visión</small></h2>
        <p>Llegar a todas los rincones del país ofreciendo préstamos a quien los necesita (gracias al internet y a que nuestro proceso no es presencial).</p>
        <br />
        <h3 class="texto-anaranjado-dark text-center">¿Qué necesito?</h3>
        <div class="space-blank"></div>
        <div class="small-12 medium-4 columns text-center">
            <i class="yei icon-identificacion x5 texto-turquesa"></i>
            <h4 class="texto-black">Credencial IFE o INE</h4>
        </div>
        <div class="small-12 medium-4 columns text-center">
            <i class="yei icon-domicilio x5 texto-turquesa"></i>
            <h4 class="texto-black">Comprobante de domicilio</h4>
        </div>
        <div class="small-12 medium-4 columns text-center">
            <i class="yei icon-huellaDigital x5 texto-turquesa"></i>
            <h4 class="texto-black">CURP</h4>
        </div>
        <div class="space-blank"></div>
        <div class="small-12 medium-4 columns text-center">
            <i class="yei icon-celular x5 texto-turquesa"></i>
            <h4 class="texto-black">Teléfono celular</h4>
        </div>
        <div class="small-12 medium-4 columns text-center">
            <i class="yei icon-laptop x5 texto-turquesa"></i>
            <h4 class="texto-black">Computadora o celular con cámara</h4>
        </div>
        <div class="small-12 medium-4 columns text-center">
                <i class="yei icon-contrato x5 texto-turquesa"></i>
                <h4 class="texto-black">Estado de cuenta con CLABE y nombre visibles</h4>
            </div>
    </div>
</div>
<div class="space-blank veinte"></div>