<div class="space-blank cuarenta"></div>
<div class="row">
    <div class="small-11 medium-8 small-centered medium-centered column">
        <h1 align="center" class="texto-anaranjado-dark">¿Qué es el Buró de Entidades Financieras?</h1>
        <div class="space-blank diez"></div>


        <p class="text-justify">Es una herramienta de consulta y difusión con la que podrá conocer los productos que
            ofrecen las entidades
            financieras, sus comisiones y tasas, las reclamaciones de los usuarios, las prácticas no sanas en que
            incurren,
            las sanciones administrativas que les han impuesto, las cláusulas abusivas de sus contratos y otra
            información
            que resulte relevante para informarle sobre su desempeño.</p>
        <p class="text-justify">Con el Buró de Entidades Financieras, se logrará saber quién es quién en bancos,
            seguros, sociedades
            financieras de objeto múltiple, cajas de ahorro, afores, entre otras entidades. Con ello, podrá comparar y
            evaluar a las entidades financieras, sus productos y servicios y tendrá mayores elementos para elegir lo
            que
            más le convenga. Esta información le será útil para elegir un producto financiero y también para conocer y
            usar
            mejor los que ya tiene.</p>
        <p class="text-justify">Este Buró de Entidades Financieras, es una herramienta que puede contribuir al
            crecimiento económico del país,
            al promover la competencia entre las instituciones financieras; que impulsará la transparencia al revelar
            información a los usuarios sobre el desempeño de éstas y los productos que ofrecen y que va a facilitar un
            manejo responsable de los productos y servicios financieros al conocer a detalle sus características.</p>
        <p class="text-justify">Lo anterior, podrá derivar en un mayor bienestar social, porque al conjuntar en un solo
            espacio tan diversa
            información del sistema financiero, el usuario tendrá más elementos para optimizar su presupuesto, para
            mejorar
            sus finanzas personales, para utilizar correctamente los créditos que fortalecerán su economía y obtener
            los
            seguros que le protejan, entre otros aspectos.</p>
        <p align="center"><b>La información del Buró de Entidades Financieras es una herramienta para mejorar su
                futuro.</b></p>
        <p align="center"><b>¡Úselo a su favor!</b></p>
        <h5 align="center" class="texto-bold margin-0 texto-anaranjado-dark">¿Qué puede consultar en el Buró?</h5>

        <p>
            <ol type="1">
                <li>Reclamaciones y Controversias.
                </li>
                <li>Sanciones.
                </li>
                <li>Prácticas No Sanas.
                </li>
                <li>Cláusulas Abusivas.
                </li>
                <li>Cumplimiento a los Registros.
                </li>
                <li>Programas de Educación Financiera.
                </li>
                <li>Evaluación de CONDUSEF por producto
                </li>
            </ol>
        </p>
        <p class="text-justify"><b>Conozca la información de ORION FINTECH S.A. de C.V., SOFOM E.N.R.</b></p>
        <p class="text-justify">Si desea consultar las calificaciones de los productos que ofrecemos, así como toda la
            información referente a ORION FINTECH S.A. de C.V., SOFOM E.N.R., le sugerimos consultarlo en la página
            <a href="http://www.buro.gob.mx">www.buro.gob.mx</a>.</p>
        <p class="text-justify">La Guía de Consulta para Usuarios del Buró de Entidades Financieras se encuentra en el
            siguiente link: <a href="https://www.buro.gob.mx/doctos/Guia_usuario_buro.pdf" target="_blank">https://www.buro.gob.mx/doctos/Guia_usuario_buro.pdf</a></p>
        <p class="text-justify"><b>Fundamento Legal del Buró de Entidades Financieras</b></p>
        <p class="text-justify">
            <ol type="1">
                <li><b>Ley de Protección y Defensa al Usuario de Servicios Financieros</b>
                    <p></p>
                    <p class="text-justify"><b>Artículo 8o. Bis.-</b> La Comisión Nacional, establecerá y mantendrá un
                        Buró de Entidades Financieras, el cual se integrará con la información que aquella haya
                        obtenido de las
                        Instituciones Financieras y de los Usuarios en el ejercicio de sus atribuciones, así como la
                        que le proporcionen las autoridades competentes. Su organización y funcionamiento se sujetará a
                        las disposiciones que al efecto expida la propia Comisión Nacional.
                        La información contenida en el Buró de Entidades Financieras se referirá a los productos que
                        ofrecen las Instituciones Financieras, sus comisiones, sus prácticas, sus sanciones
                        administrativas, sus reclamaciones, y otra información que resulte relevante para informar a
                        los Usuarios del desempeño en la prestación de sus servicios y contribuir así a la adecuada
                        toma de decisiones de los Usuarios de servicios financieros.</p>
                    <p class="text-justify">La Comisión Nacional al establecer el Buró de Entidades Financieras, tomará
                        en consideración la experiencia internacional en materia de calificación de instituciones
                        financieras, con especial énfasis en el riesgo para los Usuarios en la contratación de
                        servicios financieros. La información del Buró de Entidades Financieras será pública, y la
                        Comisión Nacional deberá difundirla en su portal de internet. Asimismo, la Comisión Nacional
                        emitirá una publicación periódica con información relevante para la toma de decisiones de los
                        Usuarios de servicios financieros.</p>
                    <p class="text-justify">Las Instituciones Financieras deberán publicar a través de su Portal de
                        Internet y en sus sucursales la información que sobre ellas conste en el Buró de Entidades
                        Financieras, en los términos que establezca la Comisión Nacional mediante disposiciones de
                        carácter general que al efecto emita.</p>
                    <p class="text-justify"><b>Artículo 11.-</b> La Comisión Nacional está facultada para:</p>
                    <p class="text-justify">XLIII.Las disposiciones de carácter general, ordenamientos y
                        recomendaciones contenidas en las fracciones IX, XV, XVIII, XIX y XLII, deberán ser difundidas
                        a los Usuarios del sistema financiero a través del Buró de Entidades Financieras, y</p>
                    <p class="text-justify"><b>Artículo 56 Bis.-</b> Los contratos de adhesión que utilicen las
                        Instituciones
                        Financieras para la celebración de operaciones con Usuarios, en adición a los requisitos a los
                        que están sujetos conforme a ésta y, en su caso, otras leyes, no deberán contener cláusulas
                        abusivas. La Comisión Nacional, mediante disposiciones de carácter general que emita con el
                        acuerdo de su Junta de Gobierno establecerá los casos y supuestos bajo los cuales se considere
                        la existencia de una cláusula abusiva.</p>
                    <p class="text-justify">Las disposiciones referidas en el párrafo anterior podrán referirse a
                        cualesquiera términos y condiciones de los contratos de adhesión, excepto tasas de interés,
                        comisiones, o cualquier otro concepto que implique la contraprestación recibida por una
                        Institución Financiera por la operación de que se trate. Dichas disposiciones no podrán
                        oponerse a las demás disposiciones o reglas que emitan otras autoridades en el ejercicio de sus
                        atribuciones. En los casos de comisiones y otros conceptos que impliquen contraprestación
                        recibida por una Institución Financiera por la operación de que se trate, la Junta de Gobierno
                        de la Comisión Nacional emitirá opinión sobre éstas, misma que se publicará a través del Buró
                        de Entidades Financieras.</p>
                    <p class="text-justify">La Comisión Nacional en todo momento podrá ordenar la supresión de
                        cláusulas abusivas en los contratos de adhesión a que se refiere este artículo y dará
                        publicidad a dichas resoluciones utilizando los medios que estime convenientes. Dicha
                        resolución deberá integrarse en la información contenida en el Buró de Entidades
                        Financieras. Las Instituciones Financieras a petición de un Usuario deberán modificar los
                        contratos de adhesión que hubiera celebrado con éste, a fin de eliminar las cláusulas que
                        en términos de este artículo la Comisión Nacional haya ordenado suprimir.</p>
                    <p class="text-justify"><b>Artículo 94.-</b> La Comisión Nacional estará facultada para imponer
                        las siguientes sanciones: II. Multa de 200 a 1000 días de salario, a la Institución
                        Financiera que no proporcione la información o la documentación que le solicite la
                        Comisión Nacional, para el cumplimiento de su objeto, de acuerdo con los artículos 12,
                        49, 53, 58 y 92 Bis 1 de esta Ley;</p>
                    <p class="text-justify"><b>Artículo 97 Bis.-</b> Para tutelar el ejercicio del derecho de
                        acceso a la información pública gubernamental, la Comisión Nacional deberá hacer
                        del conocimiento del público en general, a través del Buró de Entidades
                        Financieras, las sanciones que al efecto imponga, por infracciones a las leyes que
                        regulan a las Instituciones Financieras o a las disposiciones que emanen de ellas.</p>
                </li>
                <li>
                    <p class="text-justify"><b>Disposiciones de Carácter General que emite la CONDUSEF para la
                            Organización y
                            Funcionamiento del Buró de Entidades Financieras.</b></p>
                    <p class="text-justify"><b>DE LAS OBLIGACIONES DE LAS ENTIDADES FINANCIERAS</b></p>
                    <p class="text-justify"><b>SEXTA.-</b> Las Entidades Financieras deberán proporcionar a la Comisión
                        Nacional la información respecto de la oferta de productos y servicios financieros que éstas
                        brinden al público en general, de acuerdo a la ficha técnica establecida por la Comisión
                        Nacional, la cual contendrá:</p>
                    <ol type="a">
                        <li align="justify">El tipo de producto o servicio.- Nombre genérico ofertado por la Entidad
                            Financiera.
                        </li>
                        <li align="justify">El nombre comercial.- Denominación con la que la Entidad Financiera da a
                            conocer al
                            público en general el producto o servicio.
                        </li>
                        <li align="justify">Las características.- Información básica del producto o servicio.
                        </li>
                        <li align="justify">Los requisitos de contratación.- Información que requiere conocer cualquier
                            persona para
                            adquirir el producto o servicio.
                        </li>
                        <li align="justify">La limitación del producto.-Información sobre las restricciones que tiene
                            el producto o
                            servicio ofertado.
                        </li>
                        <li align="justify">El alcance del producto.- Beneficios relevantes del producto o servicio
                            ofertado.
                        </li>
                        <li align="justify">Las exclusiones o restricciones.- Principales salvedades del producto o
                            servicio ofertado,
                            cuyo conocimiento resulte relevante para el potencial Usuario.
                        </li>
                        <li align="justify">Los costos de contratación. - Pago o desembolso inicial que debe efectuar
                            el Usuario para
                            contratar un producto o servicio, cuando proceda, así como las comisiones a que está sujeto
                            dicho producto o servicio. El costo podrá estar referido de forma mensual, trimestral,
                            semestral o anual. En caso de que se trate de un producto o servicio que se ofrezca ligado
                            a
                            otro u otros, el precio o desembolso inicial deberá estar desagregado por cada producto o
                            servicio de que se trate.
                        </li>
                        <li align="justify">La dirección electrónica específica en la que se encuentran sus programas
                            de educación
                            financiera.
                        </li>
                    </ol>
                </li>
            </ol>
        </p>
        <p class="text-justify">No se cuenta por el momento con información referente a ORION FINTECH S.A. de C.V., SOFOM
            E.N.R. en el Buró de Entidades Financieras.</p>
        <p class="text-justify">La información contenida en este documento corresponde únicamente a ORION FINTECH S.A. de
            C.V., SOFOM E.N.R. Si desea conocer más información de todo el sector financiero consulte la página
            <a href="http://www.buro.gob.mx">www.buro.gob.mx</a>.</p>
    </div>
</div>