<div class="space-blank cuarenta"></div>
<div class="row">
    <div class="small-11 medium-8 small-centered medium-centered column">
        <h1 class="texto-anaranjado-dark">Costos y comisiones de nuestros productos</h1>
        <table class="stack">
            <thead>
                <tr>
                    <th>Frecuencia de pago</th>
                    <th>No. de periodos</th>
                    <th>Tasa anual</th>
                    <th>Comisiones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mensual</td>
                    <td>de 2 a 12 meses</td>
                    <td>de 30% a 100%</td>
                    <td>Sin comisiones</td>
                </tr>
                <tr>
                    <td>Quincenal</td>
                    <td>de 4 a 24 quincenas</td>
                    <td>de 30% a 100%</td>
                    <td>Sin comisiones</td>
                </tr>
                <tr>
                    <td>Semanal</td>
                    <td>de 8 a 52 semanas</td>
                    <td>de 30% a 100%</td>
                    <td>Sin comisiones</td>
                </tr>
            </tbody>
        </table>
        <div class="space-blank diez"></div>
        <h3 class="texto-turquesa">Préstamo Individual</h3>
        <div class="space-blank veinte"></div>
        <h5 class="subheader texto-gris">Características</h5>
        <ul>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Montos de $2,000 a $30,000 M.N.</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Pagos Semanales o quincenales o mensuales</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Plazos: 8 a 52 semanas o 4 a 24 quincenas o 2 a 12 meses</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Tasa fija de interés moratorio sobre saldos insolutos 365.0% anual sobre saldos vencidos, antes de impuestos</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Sin comisión por apertura</p></li>
            <li><p><span class="texto-bold">CAT (Costo Anual Total) Promedio. Sin IVA. 169.3%</span> Fecha de cálculo 13/08/2019. Para fines informativos y de comparación</p></li>
        </ul>
        <div class="space-blank veinte"></div>
        <h5 class="subheader texto-gris">¿Qué tienes que hacer y qué requisitos debes cumplir?</h5>
        <ul>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Ser ciudadano mexicano y tener más de 18 años cumplidos al momento de regístrate como usuario</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Contar con identificación oficial vigente (Credencial para votar, pasaporte, cédula profesional)</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Contar con un comprobante de domicilio con antigüedad menor a 3 meses (recibo de luz, agua, teléfono etc.)</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Contar con número de teléfono celular</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Elegir las condiciones del crédito que requieres</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Crear un usuario y contraseña (la cual servirá como tu firma electrónica)</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Permitirnos revisar tu historial crediticio en Buró</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Llenar tu solicitud</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Esperar que tu crédito sea aprobado</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Aceptar las condiciones del crédito ofrecido</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Enviar tus documentos digitalizados</p></li>
            <li><p><span class="fa fa-check texto-limon" aria-hidden="true"></span> Firmar contrato de manera digital</p></li>
        </ul>

    </div>
</div>
<div class="space-blank veinte"></div>