<div class="space-blank cuarenta"></div>
<div class="row">
    <div class="small-11 medium-8 small-centered medium-centered column">
        <h1 class="texto-anaranjado-dark">Formato ejercer derechos ARCO</h1>
        <p class="text-justify">
            Usted puede ejercer en todo momento sus derechos de acceso, rectificación, cancelación y oposición (derechos ARCO), mediante solicitud a la Unidad Especializada de Atención a Usuarios: ORION FINTECH, Sociedad Financiera de Objeto Múltiple , Entidad No Regulada, en el domicilio en Calle Florencia 31, piso 7, CP 06600, Col Juárez, Delegación Cuauhtemoc, CDMX, México, usted podrá en el momento que lo considere conveniente presentar su solicitud para el limitar o revocar su consentimiento para el tratamiento y/o transferencia de sus datos personales y/o datos sensibles, con fines complementarios.
            <br />
            <br /> Descarga la solicitud <a ng-href="https://yei.mx/assets/files/20190807_Solicitud_ARCO.doc" download="Solicitud_ARCO.doc">aquí</a>
        </p>
    </div>
</div>
<div class="space-blank veinte"></div>