<div class="space-blank cuarenta"></div>
<div class="row">
    <div class="small-11 medium-8 small-centered medium-centered column">
        <h1 class="texto-anaranjado-dark">AVISO DE PRIVACIDAD INTEGRAL</h1>
        <h3 class="texto-anaranjado-dark">ORION FINTECH, S.A. DE C.V., SOFOM, E.N.R.</h3>
        <p class="text-justify">Con el objeto de poder atender sus necesidades y brindarle un mejor servicio, para
                ORION FINTECH, S.A. DE C.V., SOFOM, E.N.R., en lo sucesivo ORION FINTECH, quien maneja el nombre
                comercial “ORION”, le resulta necesario recopilar determinada información personal y será el
                responsable de recabar sus datos personales, del uso que se le dé a los mismos y de su
                protección.
        </p>
        <p class="text-justify">
                ORION FINTECH tiene su domicilio en Avenida Coyoacán número 1622, Edificio 4, Piso 2, Colonia
                Del Valle, Alcaldía Benito Juárez, en la Ciudad de México, C.P. 03100.
        </p>
        <p class="text-justify">
                Su información personal será utilizada para proveer nuestros servicios y productos que ha
                solicitado de carácter financiero relativos al contrato de crédito individual, informarle sobre
                cambios o nuevos productos o servicios que estén relacionados con el contratado por el
                acreditado a través de medios electrónicos, impresos, sonoros, visuales y puntos de
                venta; dar cumplimiento a obligaciones contraídas con nuestros clientes y a las
                autoridades competentes en términos de la legislación financiera aplicable; brindarle
                asesoría y orientación en la realización de su adquisición de servicios; evaluar la calidad
                del servicio que le brindamos y para fines estadísticos, llevar un historial de operaciones,
                entre otros. Siendo todas estas finalidades necesarias para la relación jurídica que
                mantendrá con ORION FINTECH.
        </p>
        <p class="text-justify">
                Adicionalmente, su información personal podrá ser utilizada para ofrecerle y promover
                toda clase de productos o servicios de manera directa o a través de medios electrónicos,
                impresos, sonoros, visuales, puntos de venta y por vía telefónica (telemarketing); ofrecerle
                ofertas y promociones únicamente de nuestros servicios, realizar encuestas con fines
                comerciales y mercadológicos, de investigación de mercado; hasta en tanto no manifieste
                su oposición para ello. ORION FINTECH no compartirá su información con terceros para fines
                comerciales o de otra índole salvo la especificada en el párrafo anterior. No siendo estas
                finalidades necesarias para la relación jurídica que mantendrá con ORION FINTECH. Por lo que en
                caso de que desee en cualquier momento expresar su negativa al tratamiento de datos
                personales para las finalidades no necesarias señaladas en este párrafo, de conformidad
                con las Disposiciones publicadas en el Diario Oficial de la Federación el día diecisiete de
                enero del año dos mil trece; Usted podrá marcar la casilla correspondiente en el apartado
                “Manifiesto expresamente mi conformidad en recibir información publicitaria y de
                mercadotecnia en general: ___ SI ___ NO”, en el Aviso de Privacidad que haya sido
                puesto a su disposición en nuestro portal de internet al momento de llenar su solicitud de
                crédito; o bien, manifestarnos expresamente su oposición siguiendo el mecanismo para el
                ejercicio de sus derechos ARCO que se describe más adelante; o bien acudiendo a
                nuestra línea de Privacidad que se menciona más adelante.
        </p>

        <p class="text-justify">
                También podrá limitar el uso y divulgación de sus datos personales mediante su
                inscripción en el Registro Público de Usuarios que no deseen información publicitaria de
                Productos y Servicios Financieros (REUS), a cargo de la Comisión Nacional para la
                Protección y Defensa de los Usuarios de Servicios Financieros, CONDUSEF, con la
                finalidad de que sus datos personales no sean utilizados para recibir publicidad o
                promociones de entidades financieras. Para mayor información sobre este registro, puede
                Usted consultar el portal de internet <a href="https://www.condusef.gob.mx/">https://www.condusef.gob.mx/</a>, o bien ponerse en contacto
                vía telefónica con dicha dependencia.
        </p>

        <p class="text-justify">
                La negativa para el uso de sus datos personales para estas finalidades no necesarias, no
                será motivo para que le neguemos los servicios o productos que solicite contratar con
                ORION FINTECH.
        </p>

        <p class="text-justify">
                Para las finalidades antes mencionadas y sujetándonos a las disposiciones legales
                aplicables, podríamos requerir y obtener entre otros los siguientes datos personales:
                nombre, nacionalidad, lugar y fecha de nacimiento, género, estado civil, ocupación,
                domicilio, nivel de estudios, tiempo de radicar en su domicilio actual, antigüedad en su
                empleo o negocio, ingreso mensual aproximado, registro federal de contribuyentes, clave
                única del registro de población, copia de su identificación, copia de un comprobante de
                domicilio, número de teléfono de casa, celular y de oficina o negocio, correo electrónico,
                destino del crédito solicitado y si el dinero con el que pagará el crédito es suyo o en su
                caso el nombre de la persona propietaria de éste; si ha ejercido algún cargo político
                durante los últimos doce meses o si es pariente de algún político en activo o que haya
                ejercido en los últimos doce meses. Todos estos datos le son recabados en forma directa
                cuando Usted mismo nos los proporciona a través de nuestro portal de internet, después
                de haberle puesto a su disposición el presente Aviso de Privacidad, donde grabaremos
                también su imagen en vivo para cotejarla con su identificación oficial a fin de garantizar su
                seguridad y evitar una suplantación de identidad. Recabando su firma electrónica con la
                cual nos expresará su consentimiento para el uso y tratamiento de sus datos personales.
                Sin que le sean requeridos datos considerados como sensibles por la Ley Federal de
                Protección de Datos Personales en Posesión de los Particulares.
        </p>

        <p class="text-justify">
                Con la entrega de esos datos firmando electrónicamente el espacio relativo al Aviso de
                Privacidad Simplificado que obra en la “Solicitud de Crédito” en nuestro portal de internet,
                elaborado para estos efectos, Usted estará aceptando de manera expresa los términos y
                las condiciones contenidos en este AVISO DE PRIVACIDAD, y otorgando expresamente
                su consentimiento para el uso de esos datos en los términos aquí especificados, salvo
                que limite dicho uso en el mismo formulario al momento de su llenado o con posterioridad
                en ejercicio de sus derechos ARCO.
        </p>

        <p class="text-justify">
                De manera enunciativa más no limitativa, ORION FINTECH tratará los datos personales para las
                siguientes finalidades:
        </p>

        <p class="text-justify">
                
                    <li>Contactar vía telefónica o por correo electrónico a EL TITULAR, para otorgarle el
                            servicio y ofrecer los productos por ellos solicitados y dar seguimiento a los servicios
                            otorgados.</li>
                    <li>Generar y conservar un registro en la base de datos de clientes y contactos de
                            ORION FINTECH, que será conservado por un mínimo de 10 (diez) años.</li>
                    <li>Otorgar los productos y servicios adquiridos por los clientes de ORION FINTECH.</li>
                    <li>Evaluar la procedencia de su solicitud de crédito.</li>
                    <li>Gestión de cobranza administrativa, extrajudicial y, en su caso, judicial derivada de
                            los servicios proporcionados por ORION FINTECH.</li>
                    <li>Para enviar a los clientes de ORION FINTECH las comunicaciones necesarias, así como
                            algunas con fines publicitarios o mercadotécnicos respectos de los productos que ofrece
                            ORION FINTECH;</li>
                    <li>Evaluar la calidad de los servicios prestados por ORION FINTECH a sus clientes.</li>
        </p>

        <p class="text-justify">
                Dicha información será tratada con absoluta confidencialidad y será debidamente
                almacenada y posteriormente eliminada una vez concluida nuestra relación jurídica y
                habiendo transcurrido los plazos de resguardo de información a que nos obligan diversas
                disposiciones jurídicas y financieras. ORION FINTECH se compromete a realizar su mejor esfuerzo
                para proteger la seguridad de los datos personales que EL TITULAR le haya entregado,
                mediante la celebración de los actos jurídicos necesarios, el uso de tecnologías que
                controlan el acceso, uso o divulgación sin autorización de la información personal, para lo
                cual será almacenada en bases de datos con acceso restringido que se encuentran en
                instalaciones controladas con mecanismos de seguridad, y ORION FINTECH se compromete a que
                la información proporcionada por EL TITULAR sea considerada por su personal con
                carácter confidencial y utilizada bajo plena privacidad.
        </p>

        <p class="text-justify">
                El tratamiento de sus datos personales se realizará en apego a los principios de licitud,
                calidad, consentimiento, información, finalidad, lealtad, proporcionalidad y
                responsabilidad, descritos en la Ley de Protección de Datos Personales en Posesión de
                los Particulares. 
        </p>

        <p class="text-justify">
                Usted tiene derecho de acceder a sus datos personales en nuestro poder y a los detalles
                del tratamiento de los mismos, ya sea de manera impresa o electrónica de acuerdo a la
                manera en que Usted nos lo solicite; así como a rectificarlos en caso de ser inexactos o
                incompletos; cancelarlos en los casos que legalmente sea procedente cuando considere
                que no se requieren para alguna de las finalidades señaladas en el presente aviso de
                privacidad o estén siendo utilizados para finalidades no consentidas; oponerse al
                tratamiento de los mismos para fines específicos; así como revocar su consentimiento que
                para tal fin nos haya otorgado, en los casos que así sea legalmente procedente.
        </p>

        <p class="text-justify">
                Los mecanismos que se han implementado para el ejercicio de dichos derechos son a
                través de la presentación de la solicitud respectiva que a su pedido le será enviada por
                correo electrónico o entregada directamente en las oficinas de ORION FINTECH, a efecto de que la
                presente debidamente requisitada conteniendo la siguiente información:
        </p>

        <p class="text-justify">
                Nombre y domicilio para recibir notificaciones, identificación o poder notarial en caso de
                tratarse de apoderado o representante legal, descripción clara y precisa de los datos
                personales respecto de los cuales se busca ejercer algunos de los derechos de acceso,
                rectificación, cancelación, oposición o revocación de sus datos personales (Derechos
                ARCO) y cualquier otro elemento o documento que facilite la localización de los datos
                personales; en caso de modificación de la información, deberá expresar el motivo de la
                modificación y adjuntar los documentos que justifiquen la misma. Su solicitud será
                resuelta en un plazo máximo de veinte días hábiles, contados a partir del día siguiente de
                haber recibido su solicitud, y la respuesta sobre su procedencia le será entregada en el
                domicilio que haya designado para tal efecto, vía Internet o directamente en las oficinas
                de ORION FINTECH. En caso de resultar procedente su solicitud, se ejecutará en un plazo de
                quince días hábiles siguientes a la fecha de expedición de la respuesta. El trámite es
                gratuito con excepción de los gastos de fotocopiado y envío en su caso.
        </p>

        <p class="text-justify">
                En caso de que la solicitud planteada por EL TITULAR contenga alguna inconsistencia o
                falte algún dato o información, dentro del plazo señalado ORION FINTECH le comunicará la
                omisión y le requerirá la información o aclaración omitida, y en éste caso, el término para
                la respuesta correrá a partir del momento en que sea subsanada la falta.
        </p>

        <p class="text-justify">
                Para cualquier información, dudas, aclaraciones o quejas, podrá ponerse en contacto con
                nuestro encargado de datos personales Virginia García Salinas, al teléfono (55)
                44454512, o bien presentar un escrito en nuestras oficinas, o enviar correo electrónico a
                <a href="mailto:privacidad@yei.mx.">privacidad@orion.mx.</a>.
        </p>

        <p class="text-justify">
                ORION FINTECH se obliga a no transferir su información personal a terceros.
        </p>

        <p class="text-justify">
                En nuestra página de Internet utilizamos cookies a través de las cuales es posible
                monitorear sus visitas como usuario de Internet, brindarle un mejor servicio y experiencia
                de usuario al navegar en nuestra página. Los datos personales que podríamos obtener de
                estas tecnologías de rastreo son los siguientes: Horario de navegación, tiempo de
                navegación en nuestra página de Internet, datos de su sesión dentro de la página. Los
                datos personales que se obtienen a través de estas tecnologías podríamos compartirlos
                con terceros mexicanos o extranjeros en los que se apoye para su operación. Estas
                tecnologías podrían deshabilitarse siguiendo los pasos que su respectivo navegador
                establezca en la Barra de Menú Ayuda (Help).
        </p>
        
        <p class="text-justify">
                Asimismo, ORION FINTECH podrá transferir su información personal en los casos de excepción
                previstos en el artículo 37 de la Ley Federal de Protección de Datos Personales en
                Posesión de los Particulares, obligándose ORION FINTECH en todos estos casos a realizar esta
                transferencia en los términos que fija esa ley, toda vez que para la prestación de nuestros
                servicios financieros nos resulta necesario el transferir su información personal con
                nuestras empresas filiales y de servicios, así como en dado caso con nuestros
                proveedores y socios comerciales; a los prestadores de servicios de auditoría externa,
                sistemas computacionales y de consultoría, que sea necesarios y/o convenientes para
                cumplir con obligaciones administrativas, fiscales y legales, así como para el desarrollo de
                las actividades que desarrolla ORION FINTECH y que por su naturaleza podrían tener acceso a la
                información personal de nuestros clientes; a los despachos externos de cobranza para
                efectuar el cobro de la cartera en mora; a las instituciones y dependencias federales y
                estatales a quienes de conformidad con la legislación financiera estemos obligados a
                rendir informes de nuestros clientes; el proveedor que supervisa y brinda mantenimiento a
                nuestros sistemas y bases de datos, contadores y abogados, todos ellos derivados de la
                propia naturaleza de su actividad; con el personal administrativo de ORION FINTECH y
                proveedores para llevar a cabo los trámites y servicios indicados; sociedades de
                información crediticia. Igualmente sus datos personales podrán ser transferidos a terceros
                única y exclusivamente para la prestación de los servicios que le sean brindados y demás
                derechos y obligaciones derivados de los mismos. Siendo en todos estos casos necesaria
                la transferencia de sus datos sin contar con su consentimiento expreso. Obligándonos en
                estos casos a preservar que se cumplan todas las disposiciones legales de protección de
                transferencia de datos personales y que se respete en todo momento por nosotros y
                nuestros socios comerciales el presente aviso de privacidad. Pese a ello, en caso de que
                se presente alguna fuga de información ocurrida en cualquier fase del tratamiento de los
                datos que afecte de forma significativa los derechos de EL TITULAR, ORION FINTECH le informará
                a EL TITULAR del hecho de forma inmediata en cuanto tenga conocimiento de ella, a fin
                de que éste pueda tomar las medidas correspondientes a la defensa de sus intereses o
                derechos, deslindando de cualquier responsabilidad a ORION FINTECH, si la fuga de información
                no es imputable a ella; el aviso referido será dado por correo electrónico.
        </p>

        <p class="text-justify">
                Nos reservamos el derecho de efectuar en cualquier momento modificaciones o
                actualizaciones al presente aviso de privacidad, para la atención de novedades
                financieras, legislativas, políticas internas o nuevos requerimientos para la prestación u
                ofrecimiento de nuestros servicios o productos. Estas modificaciones estarán disponibles
                al público en cualquiera de los siguientes medios: (i) anuncios visibles en nuestras
                oficinas; (ii) en nuestra página de Internet [sección aviso de privacidad] www.orion.mx; (iii) o
                se las haremos llegar al último correo electrónico que nos haya proporcionado.
        </p>
        <p class="text-justify">
                Será responsabilidad de EL TITULAR revisar este Aviso de Privacidad, para el caso de
                actualización o modificación del mismo, si a su interés compete; el que EL TITULAR no
                esté enterado de las modificaciones a éste Aviso de Privacidad no será responsabilidad
                de ORION FINTECH, siendo ésta únicamente la señalada en el párrafo precedente.
        </p>
        <p class="text-justify">
                La falta de manifestación de inconformidad por parte de EL TITULAR respecto a los
                términos y condiciones previstos en éste Aviso de Privacidad, representa su adhesión,
                consentimiento y autorización al mismo en todos sus términos.
        </p>

        <p class="text-justify">
                Si usted considera que su derecho de protección de datos personales ha sido lesionado
                por alguna conducta de nuestros empleados o de nuestras actuaciones o respuestas,
                presume que en el tratamiento de sus datos personales existe alguna violación a las
                disposiciones previstas en la Ley Federal de Protección de Datos Personales en Posesión
                de los Particulares, podrá interponer la queja o denuncia correspondiente ante el Instituto
                Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales,
                INAI, para mayor información visite <a href="https://www.inai.org.mx/">https://www.inai.org.mx/</a>.
        </p>

        <p class="text-justify">Fecha última actualización 07/Agosto/2019</p>
    </div>
</div>
<div class="space-blank veinte"></div>