<div class="space-blank cuarenta"></div>
<div class="row">
    <div class="small-11 medium-8 small-centered medium-centered column">
        <h1 class="texto-anaranjado-dark">Preguntas frecuentes <span class="hide">ORION FINTECH.</span><img class="logo-mediano" src="assets/img/logoOrion.png"></h1>
        <br />
        <div class="small-12 medium-6 columns">
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿Es seguro pedir un crédito con ORION FINTECH?</p>
                <p class="text-justify">Es totalmente seguro, ya que tu información está protegida y tus contraseñas
                    encriptadas por lo que
                    nadie, ni siquiera el personal de ORION FINTECH tiene acceso a ellas.</p>
            </div>
            <div class="space-blank diez"></div>
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿ Qué tasas de interés tiene Orion FINTECH?</p>
                <p class="text-justify">Las tasas varían dependiendo de tu perfil y pueden ir desde 2.5% hasta 8.3%
                    mensual, lo cual se
                    traduce de 30% a 100% anual.</p>
            </div>
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿Cómo funcionan las órdenes de pago?</p>
                <p class="text-justify">Te llegará un email con un código, el cual deberás presentar en la
                    ventanilla del banco
                    junto con una identificación oficial y el cajero te entregará el dinero.</p>
            </div>
            <div class="space-blank diez"></div>
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿Puedo pedir un crédito si tengo mal historial crediticio?</p>
                <p class="text-justify">¡Sí! Tu historial crediticio (en caso de que tengas) es tomado en cuenta para
                    nuestra evaluación de
                    crédito, sin embargo hay otros factores que influyen en la aprobación del mismo.</p>
            </div>
            <div class="space-blank diez"></div>
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿Cuánto tengo que pagar en mi crédito ORION FINTECH?</p>
                <p class="text-justify">Depende del monto solicitado, la tasa de interés definida por tu perfil, plazo
                    y frecuencia de pago.</p>
            </div>
            <div class="space-blank diez"></div>
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿Existe alguna penalización por terminar de pagar antes mi
                    crédito? </p>
                <p class="text-justify">No tenemos ninguna penalización por hacer pagos anticipados, sólo entra a la
                    página y revisa el
                    monto que tienes pendiente al día en el que quieras hacer el pago.</p>
            </div>
            <div class="space-blank diez"></div>
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿Puedo solicitar un préstamo a nombre de otra persona?</p>
                <p class="text-justify">No, por seguridad sólo el solicitante del préstamo puede realizar el proceso para recibir el préstamo.</p>
            </div>
            <div class="space-blank diez"></div>
        </div>
        <div class="small-12 medium-6 columns">
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿Cuánto dinero puedo pedir?</p>
                <p class="text-justify">En tu primer préstamo puedes pedir desde $2,000 hasta $30,000 MXN dependiendo
                    de tu perfil.</p>
            </div>
            <div class="space-blank diez"></div>
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿Necesito una cuenta de banco?</p>
                <p class="text-justify">¡No necesariamente! Si no cuentas con una, también podemos enviarte el dinero
                    mediante una orden de
                    pago.</p>
            </div>
            <div class="space-blank diez"></div>
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿Puedo pedir un crédito a Yei! si nunca he tenido un crédito?</p>
                <p class="text-justify">Sí, tenemos clientes con y sin historial crediticio.</p>
            </div>
            <div class="space-blank diez"></div>
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿Dónde y cómo puedo pagar mi crédito?</p>
                <p class="text-justify">Los pagos los puedes hacer mediante domiciliación (cargo automático a tu
                    cuenta), transferencia
                    electrónica, depósito en banco o en cualquier 7-Eleven u Oxxo.</p>
            </div>
            <div class="space-blank diez"></div>
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿Cada cuánto tengo que hacer pagos de mi crédito?</p>
                <p class="text-justify">Los pagos pueden ser semanales, quincenales o mensuales dependiendo de lo que
                    decidas.</p>
            </div>
            <div class="space-blank diez"></div>
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿Cómo puedo recibir mi dinero?</p>
                <p class="text-justify">Puedes recibir el dinero de tus préstamos de dos formas, la primera es a través de una transferencia interbancaria. En la solicitud te pediremos que nos proporciones un estado de cuenta con tú nombre y CLABE visibles.
                    <br />La segunda es a través de una orden de pago, para esta opción tendrás que presentarte en la ventanilla del banco con una identificación vigente previamente registrada en la solicitud.</p>
            </div>
            <div class="space-blank diez"></div>
            <div>
                <p class="texto-bold margin-0 texto-anaranjado-dark">¿Puedo recibir el dinero de mi préstamo en la cuenta bancaria de alguien más?</p>
                <p class="text-justify">No, ya que el préstamo es personal. Si no cuentas con una cuenta bancaria propia recuerda que puedes recibir el dinero del préstamo mediante una orden de pago, solo tendrás que presentarte en una sucursal BBVA con una identificación vigente y previamente registrada en la solicitud.</p>
            </div>
            <div class="space-blank diez"></div>
        </div>
    </div>
</div>
<div class="space-blank veinte"></div>