<div class="space-blank cuarenta"></div>
<div class="row">
    <div class="small-11 medium-8 small-centered medium-centered column">
        <p align="right">CDMX a 13 de Agosto de 2019</p>
        <h1 align="center" class="texto-anaranjado-dark">ORION FINTECH S.A. de C.V., SOFOM E.N.R.</h1>
        <div class="space-blank diez"></div>
        <h3 align="center" class="texto-turquesa">Unidad de Atención Especializada (ORION)</h3>
        <div class="space-blank diez"></div>
        <div class="space-blank diez"></div>
        <div class="space-blank diez"></div>
        <div class="space-blank diez"></div>
        <p class="text-justify">En caso de presentar alguna consulta, reclamación o aclaración en ORION le
            responderemos en un plazo no mayor a 30 días hábiles.</p>
        <p class="text-justify">TITULAR DE LA ORION: Personal Autorizado</p>
        <p class="text-justify">DOMICILIO: Calle Florencia 31, piso 7, CP 06600, Col Juárez, Delegación Cuauhtemoc, CDMX, México.</p>
        <p class="text-justify">HORARIO DE ATENCIÓN: lunes a viernes de 9:00 a 18:00 hrs.</p>
        <p class="text-justify">TELÉFONO: (55) 12345678</p>
        <p class="text-justify">CORREO ELECTRÓNICO: orion@orion.mx</p>
    </div>
</div>