<section class="row text-center">
	<div class="space-blank treinta"></div>
	<div class="animated delay1 bounceInLeft">
		<i class="yei icon-correo texto-limon x7"></i>
	</div>
		
		
		<div class="large-12 column center">
			<h3 class="texto-verdemarino text-center">
				¡Instrucciones enviadas!
			</h3>

	</div>
	<div class="space-blank"></div>
	<div class="row">
	  <div class="small-10 large-6 small-centered columns">
		<div class="callout primary animated pulse">
				<p>A la brevedad recibirás un correo electrónico con las instrucciones para cambiar tu contraseña
			</p>
		</div>	
	  </div>
	</div>
	<div class="space-blank"></div>
	<div class="row">
		<div class="small-12 large-6 small-centered columns">
			<div class="small-6 columns center-align">
				<p class="parrafo-olvido-pass">¿El correo no llegó?</p>
				<a ui-sref="password.forgot.main(username)">Inténtalo de nuevo</a>
			</div>
			<div class="small-6 columns center-align">
				<p class="parrafo-olvido-pass">¿Lo has recordado?</p>
				<a ui-sref="login">Inicia sesión</a>
			</div>
		</div>
	</div>
	<div class="space-blank cuarenta"></div>
</section>