<section class="row ampliador">
<div class="space-blank treinta"></div>
	<div class="medium-12 medium-centered center">
		<p class="error">
			El código que ingresaste es incorrecto o ya no es válido
		</p>
	</div>
	<div class="space-blank"></div>
	<div class="space-blank"></div>
	<div class="space-blank"></div>
	<div class="large-12 column medium-centered">
		<div class="large-4 medium-centered">
			<div class="large-12">
				<a ui-sref="password.resetcodigo.main">
					<button class="button large-12">Intentar de Nuevo</button>				
				</a>
			</div>		
		</div>

	</div>	
</section>