<div class="dialogCuerpo">
    <div class="small-10 medium-8 large-10 small-centered">
        <!-- <p>Verifica que tu CURP, Correo, Teléfono sean correctos, ya que los tenemos registrados.</p> --> 
    </div>

     <p>{{returnStatus}}</p> 
       <div class="clear"></div> 

</div>
<div class="margin-bottom separador-orion"></div>
<div class="dialogFooter text-center">
 <div class="float-left">
    <input class="button" type="button" value="Verificar" ng-click="closeThisDialog()" />
    </div>
	<div class="float-right">
    <a class="button" ui-sref="login" data-ng-click="closeThisDialog()">Iniciar sesión</a>
    </div>   
	<div class="clear"></div>
</div>

