<div class="space-blank cuarenta"></div>
<section class="row">
    <div class="space-blank veinte"></div>
	<div class="small-12 medium-9 large-9 column">
		<incidencias incidencias="incidencias"></incidencias>
	</div>

    <section class="small-12 medium-3 large-3 column">    
        <div class="contenedorPublicidad sinTabs show-for-medium">
        <div class="ads">
                <img src="assets/img/publicidad.png" />
                <div class="background-amarilloverdoso">
                    <a><img class="float-left" src="assets/img/APPLE_STORE.png" style="width: 120px;"/></a>
                    <a><img class="" src="assets/img/GOOGLE_STORE.png" style="width: 120px;"/></a>
                </div>
            </div>
            <!-- <div class="ads">
                <p>Publicidad</p>
            </div> -->
        </div>
    </section>
</section>