<div class="space-blank cuarenta"></div> 
<section class="row"> 
 
  <div class="small-8 columns small-centered text-center"> 
      <h3 class="texto-verdemarino text-center">¡Bienvenido, {{userBasicInfo.firstName}} {{userBasicInfo.middleName}}  {{userBasicInfo.lastName}}!</h3>  
      <div class="space-blank"></div> 
    <h4> 
        Nuestros asesores aún se encuentran validando la información, en breve te enviaremos las instrucciones para continuar.</h4>
  </div> 
  <div class="space-blank"></div> 
  <p class="text-center">Resumen del préstamo:</p> 
  <loan-detail producto="producto">
  </loan-detail>
</section>
